body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8; 
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    font-size: 15px;
}

header {
    background-color: #ffffff;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

.hero {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: #e2f3f5;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.features {
    text-align: center;
    padding: 80px 70px;
}

.feature-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap:5px ;
    column-gap: 100px;
    transition-behavior: smooth;
}

.feature-card {
    background-color: #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 2%;
    margin: 3px;
    gap: 4px;
    cursor: pointer;
    transition-behavior: smooth;
    flex: 2  200px; /* Flex-basis with min-width */
}
